<form class="quick_search">
<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
</form>
<hr/>
<h3>Cadastros</h3>
<ul class="toggle">
<li class="icn_new_article"><%= link_to new_admin_category_path do %>
	Categorias
	<% end %></li>
	<li class="icn_new_article"><%= link_to new_admin_type_path do %>
	Categorias de fotos
	<% end %></li>
	<li class="icn_profile"><%= link_to new_admin_gallery_path do %>
	Imagens
	<% end %></li>
<li class="icn_edit_article"><%= link_to new_admin_post_path  do %>
   Artigos
   <% end %>
</li>
<li class="icn_add_user"><%= link_to new_admin_user_path  do %>
   Usuário
   <% end %>
</li>
<li class="icn_categories"><a href="#">Categories</a></li>
<li class="icn_tags"><a href="#">Tags</a></li>
</ul>

<h3>Relatórios</h3>
<ul class="toggle">
<li class="icn_categories"><%= link_to admin_contacts_path do %>
	Contatos<% end %></li>
<li class="icn_categories"><%= link_to admin_categories_path do %>
	Categorias<% end %></li>
	<li class="icn_categories"><%= link_to admin_types_path do %>
	Categorias de Fotos<% end %></li>
	<li class="icn_profile"><%= link_to admin_galleries_path do %>
	Imagens<% end %></li>
<li class="icn_edit_article"><%= link_to admin_posts_path do %>
	Artigos<% end %></li>
	<li class="icn_view_users"><%= link_to admin_users_path do %>
	Usuários<% end %></li>
<li class="icn_categories"><a href="#">Video</a></li>
</ul>

<h3>Admin</h3>
<ul class="toggle">
<li >Ip: </li>
<li >Ultino acesso :</li>
<li class="icn_jump_back"> 
                   <%= link_to  destroy_user_session_path, :method => :delete, :title => "Sair do sistema"  do %>
                    <span>Sair</span>
                    <% end %> 
                     </li>
</ul>

<footer>
<hr />
<p><strong>Copyright &copy; 2011 Website Admin</strong></p>
<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
</footer>