<div class="5grid-layout">
<div class="row">
<div class="12u">
<div id="banner">
<!-- barner slider-->
<%= render 'pages/banner' %>

</div>
</div>
</div>
<div class="5grid-layout">
<div class="row">
<div class="3u" id="sidebar1">
<%= render 'pages/sidebar1' %>
</div>
<div class="6u mobileUI-main-content">
<div id="content">

<section>
<div class="post">

	<h2>Simples ideias na web</h2>
	<p>Bem vindo ao meu site pessoal, aqui você pode encontrar algumas dicas principalmente da área de TI.</p>
	<p>Essas dicas de estudos que aprendemos ou achamos na internet e que muito nos serviram e pode também ajudar vocês.</p>
	<p>
	A seção de vídeos tem desde vídeos sobre assuntos específicos dentro de suas respectivas categorias como também vídeos engraçados disponíveis na web.
	</p>
	<p>
	Na seção de links existem alguns links que achei interessantes sobre diversos assuntos.</p>

	<p>&nbsp; </p>
	
<h2>Metodologias Ágeis</h2>
<p>
Utilizamos metodologias ágeis no desenvolvimento de nossos sistemas, garantindo satisfação do cliente, entrega rápida e contínua.
	</p>
	<p>&nbsp; </p>
	<h2>Ruby on Rails</h2>
	<p>
Ruby on Rails é um framework de desenvolvimento web otimizado para a produtividade sustentável. Ele torna mais fácil o desenvolvimento, implantação e manutenção dos sistemas.
	</p>
	<p>Desenvolvemos sistemas web sob medida para você e para sua empresa.</p>
	<%= image_tag "rails.png" %>
	 <p class="button-style"><%= link_to root_path do %>
       Inicio
    <% end %></p>
</div>
</section>
</div>
</div>
<div class="3u">
<div id="sidebar2">

<%= render 'pages/sidebar2' %>


</div>
</div>
</div>
</div>
</div>