<div class="container">
<div class="content">     

<h2>Entre em contato com a nossa empresa deixe aqui suas dúvidas sugestões ou reclamações</h2>
<div id="respond">
    <% if notice.present? %>

    <p class="alert_secess">  <%= notice %></p>

    <% end %>

    <%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
    <div id="error_explanation">
    <h4><%= pluralize(@contact.errors.count, "error") %> : Não foi possível salvar o registro: veja qual foi o erro !</h4>

    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
    <li class="alert_error"><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

    
    <label>Nome</label><br>
    <%= f.text_field :name %><br>
    

    <label>E-mail</label><br>
    <%= f.text_field :email %><br>
    

    
    <label>Assunto</label><br>
    <%= f.text_field :title %><br>
   
    <label>Mensagem</label><br>
    <%= f.text_area :body  %>
   

    <p><%= f.captcha %></p>

    <p >

    <%= f.submit 'Enviar contato' , :class => 'button-erlon' %>
    <%= link_to root_path do %>
    Cancelar
    <% end %>
  </p>
    <% end %>

</div>

<h2>Erlon Carlos</h2>
<p>
Avenida Olímpica, 2329 A<br>
Cacimba do Povo, Aracati-CE<br>
Fone: (88) 9652-4411</p>
<h2>
Somos uma agência web especializada no desenvolvimento de sites institucionais, blog e sistemas integrados.</h2>
</div>


<div class="column">
<%= render 'layouts/sidebar' %>
</div>
<br class="clear" />
</div>


