
<div class="container">
<div class="content">      

<div id="comments">
<h2>Ùltimas Notícias</h2>
    <ul class="commentlist">
    <% if @posts.present? %>
      <% @posts.each do |p| %>         

      <li class="comment_odd">
      <div class="author">            
      <span class="name"><%= link_to post_path(p), :title => "Leia mais !" do %>
      <%= p.title %>
      <% end %></span>

      </div>
      <div class="submitdate">
      <%= p.published.strftime("%d de %b - %y") %>

      </div>
      <p><%= link_to post_path(p), :title => "Leia mais !" do %>
      <%= textilize p.subtitle %>
      <% end %></p>
      </li>
      <% end %>
    <% end %>
    </ul>

</div>
<div align="center"><%= will_paginate @posts %></div>


</div>
<div class="column">

<%= render 'layouts/sidebar' %>
</div>
<br class="clear" />
</div>

