<div class="5grid-layout">
<div class="row">
<div class="12u">
<div id="banner">
<!-- barner slider-->
<%= render 'pages/banner' %>

</div>
</div>
</div>
<div class="5grid-layout">
<div class="row">
<div class="3u" id="sidebar1">
<%= render 'pages/sidebar1' %>
</div>
<div class="6u mobileUI-main-content">
<div id="content">

<section>
<div class="post">
	<% if @posts.present? %>

	<h2>Lista de artigos do site</h2>
      <% @posts.each do |p| %>
     
     <p ><label>Data do Artigo:</label>
<%= p.published.strftime("%d de %b - %y") %>
     </p>

	<p id="titulopost"><%= link_to post_path(p), :title => "Leia mais !" do %>
		<%= p.title %>
  <% end %>
	</p>



	
	


	
	
    <% end %>

    <% end %>
</div>
<%= will_paginate @posts %>
 <p class="button-style"><%= link_to root_path do %>
       Inicio
    <% end %></p>
</section>
</div>
</div>
<div class="3u">
<div id="sidebar2">

<%= render 'pages/sidebar2' %>


</div>
</div>
</div>
</div>
</div>