
  <div class="container">
    <div class="content">

      <h1> <%= @post.title %></h1>
      <p class="date"><%= @post.published.strftime("%d de %b - %y ") %></p>

   <label>Endereço do site: <a href="<%= @post.url %>" target="_blank"><%= @post.url %></a></label>
     
     <p>&nbsp; </p>
     
  <p><%= textilize @post.body %></p>  

  <p>&nbsp; </p>
  
   <p class="button-style"><%= link_to root_path do %>
       Inicio
    <% end %></p>
     
    </div>
    <div class="column">

      
    <%= render 'layouts/sidebar' %>
    </div>
    <br class="clear" />
  </div>

