<article class="module width_full">
<header><h3>Cadastro de categorias</h3></header>
<div class="module_content">

  <%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

     
      <% @user.errors.full_messages.each do |msg| %>
       <h4 class="alert_error"><%= msg %></h4>
      <% end %>
     
    </div>
  <% end %>
  

      <fieldset>

      <label>Nome</label>
      <%= f.text_field :name %>
      </fieldset>
        <fieldset>

      <label>Email</label>
      <%= f.text_field :email %>
      </fieldset>
        <fieldset>

      <label>Senha</label>
      <%= f.password_field :password %>
      </fieldset>
      <fieldset>

      <label>Confirma Senha</label>
      <%= f.password_field :password_confirmation %>
      </fieldset>
</div>
      <footer>
      <div class="submit_link">
      <%= f.submit 'Salvar registro',:class => 'alt_btn' %>
      <%= link_to admin_users_path, :class => "alt_btn" do %>
      Cancelar
      <% end %>
    
  
      </div>
      </footer>
  <% end %>  


</article><!-- end of post new article -->  


<div class="spacer"></div>


