<div class="5grid-layout">
<div class="row">
<div class="12u" id="logo"> <!-- Logo -->
<h1><%= link_to root_path, :class =>"mobileUI-site-name" do %>
	Erlon Carlos<% end %></h1>
<p>www.erloncarlos.com</p>
</div>
</div>
</div>
<div class="5grid-layout">
<div class="row">
<div class="12u" id="menu">
<div id="menu-wrapper">
<nav class="mobileUI-site-nav">
<ul>
	<li class="current_page_item">
	<%= link_to root_path do %>
	HomePage
	<% end %>

	</li>
	<li>	<%= link_to root_path do %>
	Artigos
	<% end %></li>
	<li>	<%= link_to contacts_path do %>
	Contatos
	<% end %></li>
	<li>	<%= link_to root_path do %>
	Currículo
	<% end %></li>
	<li>	<%= link_to root_path do %>
	Clientes
	<% end %></li>
	<li>	<%= link_to root_path do %>
	Sobre-nos
	<% end %></li>
	<li>	<%= link_to root_path do %>
	Serviços
	<% end %></li>
</ul>
</nav>
</div>
</div>
</div>
</div>