<div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><%= link_to root_path do %>
  Home
  <% end %></li>
        <li><%= link_to posts_path do %>
  Artigos
  <% end %></li>
        <li><%= link_to contacts_path do %>
  Contatos
  <% end %></li>
  <li>  <%= link_to clients_path do %>
  Clientes
  <% end %></li>
   <li>  <%= link_to galleries_path do %>
  Galeria 
  <% end %></li>
  <li>  <%= link_to abouts_path do %>
  Sobre-nos
  <% end %></li>
  <li >  <%= link_to services_path do %>
  Serviços
  <% end %></li>
  <li class="last">
   

  </li>
       
        
      </ul>
    </div>
   
    <br class="clear" />
  </div>