 <div id="header">
    <div class="fl_left">
     <%= link_to root_path do %>
     <%= image_tag "logoerloncarlos.png", :size => "380x70", :title => "Inicio" %>
     <% end %>
    </div>

      <div class="fl_right"><a href="#"><a href="http://www.linkedin.com/pub/erlon-carlos-carlos/1a/831/190" target="_blank">  <%= image_tag "linkedin2.png" %></a></div>
       <div class="fl_right">

          <a href="https://www.facebook.com/erlonloja?ref=tn_tnmn" target="_blank"><%= image_tag "facebook.png" %></a></div>
           <div class="fl_right">

         <a href="https://twitter.com/erlonlon" target="_blank">  <%= image_tag "twitter2.png" %></a></div>
    <div class="fl_right">        
         
           <a href="https://plus.google.com/u/0/b/107532173948096917499/" target="_blank">  <%= image_tag "google32.png" %></a>

    	</div>
    <br class="clear" />
  </div>