<!DOCTYPE html>
<html>
<head>
<title>Erloncarlos - Desenvolvedor Web </title>

<%= favicon_link_tag 'favicon_atual.ico' %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jquery.nivo.slider.pack" %>
<%= javascript_include_tag "jquery.nivo.slider.setup" %>
<%= javascript_include_tag "jquery.nivo.slider " %>
 <%= javascript_include_tag "lightbox" %>






<!--[if lt IE 8]>
<style type="text/css" media="screen">.nivo-controlNav a{float:left;}</style>
<![endif]-->


<%= csrf_meta_tags %>

<!--google analitico-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11357390-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!--google analitico-->



</head>

<body id="top">
  <!--logo da empresa -->
<div class="wrapper col1">
 <%= render 'layouts/topologo' %>
</div>
<!-- fecha logo da empresa -->

<!--menu topo -->
<div class="wrapper col2">
 <%= render 'layouts/menutopo' %>
  
</div>
<!-- fecha menu topo -->
 <!-- slide -->
<div class="wrapper col3">
 
  <%= render 'layouts/slide' %>
 
</div>
 <!-- fecha slide -->
  <!-- conteudo dimanico -->
<div class="wrapper col4">
 <%= yield %>
</div>
 <!-- fecha conteudo dimanico -->
  <!-- footer -->
<div class="wrapper col5">
 <%= render 'layouts/footer' %>
</div>
 <!-- fecha footer -->
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="http://www.erloncarlos.com" target="_blank">www.erloncarlos.com</a></p>
    <p class="fl_right">Designer by <a href="http://erloncarlos.com" title=" Designer Website ">Erlon Carlos</a></p>

   
    <br class="clear" />
  </div>
</div>
</body>


</html>
